In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('dataset.csv')

In [3]:
df.rename(columns={'Nacionality':'Nationality'}, inplace=True)

In [4]:
df["Mother's qualification"]=df["Mother's qualification"].map({1: 'Secondary Education—12th Year of Schooling or Equivalent',
 2: 'Higher Education—bachelor’s degree', 3: 'Higher Education—degree',
 4: 'Higher Education—master’s degree', 5: 'Higher Education—doctorate',
 6: 'Frequency of Higher Education',
 7: '12th Year of Schooling—not completed', 
 8: '11th Year of Schooling—not completed', 9: '7th Year (Old)',
 10: 'Other—11th Year of Schooling', 
 11: '2nd year complementary high school course', 
 12: '10th Year of Schooling', 13: 'General commerce course',
 14: 'Basic Education 3rd Cycle (9th/10th/11th Year) or Equivalent', 
 15: 'Complementary High School Course',
 16: 'Technical-professional course', 
 17: 'Complementary High School Course—not concluded',
 18: '7th year of schooling',
 19: '2nd cycle of the general high school course',
 20: '9th Year of Schooling—not completed',
 21: '8th year of schooling',
 22: 'General Course of Administration and Commerce',
 23: 'Supplementary Accounting and Administration',
 24: 'Unknown',
 25: 'Cannot read or write',
 26: 'Can read without having a 4th year of schooling',
 27: 'Basic education 1st cycle (4th/5th year) or equivalent',
 28: 'Basic Education 2nd Cycle (6th/7th/8th Year) or equivalent',
 29: 'Technological specialization course',
 30: 'Higher education—degree (1st cycle)',
 31: 'Specialized higher studies course',
 32: 'Professional higher technical course',
 33: 'Higher Education—master’s degree (2nd cycle)',
 34: 'Higher Education—doctorate (3rd cycle)'})
df["Mother's qualification"]

0                                 General commerce course
1       Secondary Education—12th Year of Schooling or ...
2           General Course of Administration and Commerce
3             Supplementary Accounting and Administration
4           General Course of Administration and Commerce
                              ...
4419    Secondary Education—12th Year of Schooling or ...
4420    Secondary Education—12th Year of Schooling or ...
4421        General Course of Administration and Commerce
4422        General Course of Administration and Commerce
4423          Supplementary Accounting and Administration
Name: Mother's qualification, Length: 4424, dtype: object

In [5]:
df["Father's qualification"]=df["Father's qualification"].map({1: 'Secondary Education—12th Year of Schooling or Equivalent',
 2: 'Higher Education—bachelor’s degree', 3: 'Higher Education—degree',
 4: 'Higher Education—master’s degree', 5: 'Higher Education—doctorate',
 6: 'Frequency of Higher Education',
 7: '12th Year of Schooling—not completed', 
 8: '11th Year of Schooling—not completed', 9: '7th Year (Old)',
 10: 'Other—11th Year of Schooling', 
 11: '2nd year complementary high school course', 
 12: '10th Year of Schooling', 13: 'General commerce course',
 14: 'Basic Education 3rd Cycle (9th/10th/11th Year) or Equivalent', 
 15: 'Complementary High School Course',
 16: 'Technical-professional course', 
 17: 'Complementary High School Course—not concluded',
 18: '7th year of schooling',
 19: '2nd cycle of the general high school course',
 20: '9th Year of Schooling—not completed',
 21: '8th year of schooling',
 22: 'General Course of Administration and Commerce',
 23: 'Supplementary Accounting and Administration',
 24: 'Unknown',
 25: 'Cannot read or write',
 26: 'Can read without having a 4th year of schooling',
 27: 'Basic education 1st cycle (4th/5th year) or equivalent',
 28: 'Basic Education 2nd Cycle (6th/7th/8th Year) or equivalent',
 29: 'Technological specialization course',
 30: 'Higher education—degree (1st cycle)',
 31: 'Specialized higher studies course',
 32: 'Professional higher technical course',
 33: 'Higher Education—master’s degree (2nd cycle)',
 34: 'Higher Education—doctorate (3rd cycle)'})
df["Father's qualification"]

0                            Other—11th Year of Schooling
1                                 Higher Education—degree
2       Basic education 1st cycle (4th/5th year) or eq...
3       Basic education 1st cycle (4th/5th year) or eq...
4       Basic Education 2nd Cycle (6th/7th/8th Year) o...
                              ...
4419    Secondary Education—12th Year of Schooling or ...
4420    Secondary Education—12th Year of Schooling or ...
4421    Basic education 1st cycle (4th/5th year) or eq...
4422    Basic education 1st cycle (4th/5th year) or eq...
4423    Basic education 1st cycle (4th/5th year) or eq...
Name: Father's qualification, Length: 4424, dtype: object

In [6]:
df['Course']=df['Course'].map({1: 'Biofuel Production Technologies',
 2: 'Animation and Multimedia Design', 3: 'Social Service (evening attendance)',
 4: 'Agronomy', 5: 'Communication Design', 6: 'Veterinary Nursing',
 7: 'Informatics Engineering', 8: 'Equiniculture', 9: 'Management',
 10: 'Social Service', 11: 'Tourism', 12: 'Nursing', 13: 'Oral Hygiene',
 14: 'Advertising and Marketing Management', 15: 'Journalism and Communication',
 16: 'Basic Education', 17: 'Management (evening attendance)'})
df['Course']

0           Animation and Multimedia Design
1                                   Tourism
2                      Communication Design
3              Journalism and Communication
4       Social Service (evening attendance)
                       ...
4419           Journalism and Communication
4420           Journalism and Communication
4421                                Nursing
4422                             Management
4423           Journalism and Communication
Name: Course, Length: 4424, dtype: object

In [7]:
df['Marital status'] = df['Marital status'].map({1:'Single', 2: 'Married',
                                                             3: 'Widower', 4: 'Divorced',
                                                             5: 'Facto union', 6: 'Legally Separated'})

In [8]:
df

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nationality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,Single,8,5,Animation and Multimedia Design,1,1,1,General commerce course,Other—11th Year of Schooling,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,Single,6,1,Tourism,1,1,1,Secondary Education—12th Year of Schooling or ...,Higher Education—degree,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,Single,1,5,Communication Design,1,1,1,General Course of Administration and Commerce,Basic education 1st cycle (4th/5th year) or eq...,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,Single,8,2,Journalism and Communication,1,1,1,Supplementary Accounting and Administration,Basic education 1st cycle (4th/5th year) or eq...,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,Married,12,1,Social Service (evening attendance),0,1,1,General Course of Administration and Commerce,Basic Education 2nd Cycle (6th/7th/8th Year) o...,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,Single,1,6,Journalism and Communication,1,1,1,Secondary Education—12th Year of Schooling or ...,Secondary Education—12th Year of Schooling or ...,6,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,Single,1,2,Journalism and Communication,1,1,19,Secondary Education—12th Year of Schooling or ...,Secondary Education—12th Year of Schooling or ...,10,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,Single,1,1,Nursing,1,1,1,General Course of Administration and Commerce,Basic education 1st cycle (4th/5th year) or eq...,10,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,Single,1,1,Management,1,1,1,General Course of Administration and Commerce,Basic education 1st cycle (4th/5th year) or eq...,8,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,Single,5,1,Journalism and Communication,1,1,9,Supplementary Accounting and Administration,Basic education 1st cycle (4th/5th year) or eq...,6,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [10]:
df.to_csv('formatted_dataset.csv')